header {
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
	}

	button {
		display: block;
		margin-left: 75rem;
		background: red;
		border: none;
		color: white;
		width: 5rem;
		height: 46px;
		position: fixed;
		float: right;
	}

	button:hover {
		background: darkred;
	}

	li {
		float: left;
		a {
			display: block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}
		a:hover {
			background-color: #111;
		}

		.is-active {
			background-color: #111;
		}
	}
}
